

.inter-<normal> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
#shape{
font-family: 'real_miami';
font-weight: normal;
font-style: normal;
}
#body{
    background-color: black;
}
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.navh{
    color: #E6533C;
    font-weight: 800;
    font-size: 2rem;
}
.navlink{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}
.list{
    list-style: none;
    display: flex;
    width: 70px;
    height: 25px;
}
.lists{
    display: flex;
    gap: 30px;
}
#home{
    background-color: #E6533C;
    border-radius: 30px;
    text-align: center;
    padding: 5px 10px;
}
.banner{
    display: flex;
    justify-content: space-between;
    width: 1440px;  
}
.bannerh{
    color: white;
    font-size: 5rem;
}
.bannerp{
    color: white;
    font-size: 1rem;
}
.btn{
    background-color: #E6533C;
    border-radius: 40px;
    color: white;
    padding: 15px 40px;
    font-size: 1.25rem;
    font-weight: 700;
}
.btns{
    background-color: black;
    border-radius: 40px;
    color: white;
    padding: 15px 40px;
    font-size: 1.25rem;
    font-weight: 700;
}
.amount{
    color: white;
}
.circle{
    width: 30px;
    height: 30px;
    background-color: #E6533C;
    border-radius: 50%;
    position: relative;
    top: 30px;
}
.boxs{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(48, 48, 48, 0.54);
    width: 200px;
    height: 100px;
    border-radius: 15px;
    position: absolute;
    bottom: 50px;
    right: 500px;
    justify-items: center;
}
.box{
    width: 150px;
    height: 80px;
    color: white;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 15px;
    position: absolute;
    top: 250px;
    right: 300px;
    text-align: center;
}
.mainh{
    text-align: center;
    color: white;
    border-top: 100px;
}
#mainh{
    font-size: 3rem;
    font-weight: bold;
}
.color{
    color: white;
}
.mainimg{
    display: flex;
    text-align: center;
    gap: 30px;
    justify-content: center;
}
#imgs{
    border-radius: 50%;

}
.imgp{
    font-size: 1rem;
    font-weight: 100;
}
.btnj{
    background-color: #E6533C;
    border-radius: 40px;
    color: white;
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: 500;
}
.mainspart{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #222222;
    margin: 50px 300px;
    padding: 20px;
}
#run{
    width: 400px;
}
#runimg{
    width: 350px;
    border-radius: 20px;
}