

.inter-<normal> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
#color{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}
.fa-solid{
    color: white;
    display: none;
}
#shape{
font-family: 'real_miami';
font-weight: normal;
font-style: normal;
}
#body{
    background-color: black;
    height: 100%;
    width: 100%;
}
*{
    margin: 0%;
    padding: 0%;
}
.head{
    padding: 10px;
    /* justify-content: space-around; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px 80px;
}    
.navh{
    color: #E6533C;
    font-weight: 800;
    font-size: 2rem;
    padding: 10px;
    margin: 45px 0px;
}
.navlink{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}
.list{
    list-style: none;
    display: flex;
    width: 70px;
    height: 25px;
}
.lists{
    display: flex;
    gap: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 10px 10px 10px 3px;
    margin: 45px 0px;
}
#home{
    background-color: #E6533C;
    border-radius: 40px;
    text-align: center;
    padding: 5px;
    justify-content: left;
}
.banner{
    display: flex;
    justify-content: space-between;
    position: relative; 
    margin: 0 80px;
}
.bannerh{
    color: white;
    font-size: 5rem;
}
.bannerp{
    color: white;
    font-size: 1rem;
    padding: 5px;
}
.btn{
    background-color: #E6533C;
    border-radius: 40px;
    color: white;
    padding: 15px 40px;
    font-size: 1.25rem;
    font-weight: 700;
}
.btns{
    background-color: black;
    border-radius: 40px;
    color: white;
    padding: 15px 40px;
    font-size: 1.25rem;
    font-weight: 700;
}
.amount{
    color: white;
}
.circle{
    width: 30px;
    height: 30px;
    background-color: #E6533C;
    border-radius: 50%;
    position: relative;
    top: 15px;
}
.boxs{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(48, 48, 48, 0.54);
    width: 200px;
    height: 60px;
    border-radius: 15px;
    position: absolute;
    top: 450px;
    right: 380px;
    justify-items: center;
    padding: 10px;
}
.box{
    width: 150px;
    height: 50px;
    padding: 20px;
    color: white;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 15px;
    position: absolute;
    top: 150px;
    left: 850px;
    text-align: center;
}
.mainh{
    text-align: center;
    color: white;
    border-top: 100px;
    margin: 1% 20%;
}
#mainh{
    font-size: 3rem;
    font-weight: bold;
}
.color{
    color: white;
}
.mainimg{
    display: flex;
    flex: 1;
    gap: 30px;
    margin: 50px 200px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}
#imgs{
    border-radius: 50%;

}
.imgp{
    font-size: 1rem;
    font-weight: 100;
}
.btnj{
    background-color: #E6533C;
    border-radius: 40px;
    color: white;
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: 500;
}
.mainspart{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #222222;
    margin: 50px 200px;
    padding: 20px;
}
#run{
    width: 400px;
}
#runimg{
    width: 350px;
    border-radius: 20px;
}
table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px;
    text-align: center;
}
.bmi{
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    padding: 10px;
    margin: 50px 200px;
}
.formt{
    padding: 50px;
}
.form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border-radius: 8px;
}
.colors{
    color: rgba(255, 255, 255, 0.6);
}
.input{
    background-color: rgba(255, 255, 255, 0.1);
}
.bimh{
    display: grid;
    grid-column: auto;
    justify-content: center;
    margin: 0 200px;
}
.bmit{
    padding: 50px;
}
.btnc{
    margin-top: 10px;
    background-color: #E6533C;
    border-radius: 40px;
    color: white;
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: 500;

}
.team{
    position: relative;
}
.froot{
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    margin: 5px 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
ul li{
    list-style: none;
    justify-items: left;
}
.fh{
    text-align: left;
    padding: 10px;
    margin: 45px 0px;
}
.copy{
    text-align: center;
    padding: 20px 0px;
}
.teami{
    display: grid;
    grid-template-columns: repeat(3,.2fr);
    gap: 10px;
    background-color: #222222;
    margin: 5px 200px;
    padding: 10px;
    justify-content: center;
}
.team-container{
    position: relative;
    margin-bottom: 50px;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.teams{
    text-align: center;
    margin-bottom: 20px;
}
.t1{
    position: absolute;
    top: 38%;
    left: 30%;
}
.t2{
    position: absolute;
    top: 38%;
    left: 44%;
}
.t3{
    position: absolute;
    top: 38%;
    left: 58%;
}
.t4{
    position: absolute;
    top: 87%;
    left: 30%;
}
.t5{
    position: absolute;
    top: 87%;
    left: 44%;
}
.t6{
    position: absolute;
    top: 87%;
    left: 58%;
}
.footer{
    background-color: rgba(255, 255, 255, 0.1);
    margin: 50px 200px;
}
.item{
    grid-column: 1/-1;
}

/* small device responsiv */
@media only screen and (max-width: 576px) {
    .navbar{
        justify-content: flex-start;
        margin: 0;
    }
     
    .lists{
        display: none;
    }
    .fa-solid{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    padding-top: 15px;
    }
    .mainh{
    text-align: center;
    color: white;
    border-top: 100px;
    margin: 1% 8%;
}
    .bimh{
    display: grid;
    grid-column: auto;
    justify-content: center;
    margin: 0 20px;
}
    .banner,
    .mainimg,
    .bmi,
    .mainspart{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        margin: 0px auto;
        width: 100%;
    }
    .footer{
        margin: 0px;
    }
    .froot{
        flex-direction: column;
    }
    
    *{
        margin: 0px;
        padding: 5px;
    }
    .teami{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px 0px;
        margin: 0 auto;
    }
    .form{
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        margin: 0 auto;
    }
    .copy{
        text-align: left;
        margin: 0 50px;
    }
    .navh{
    color: #E6533C;
    font-weight: 800;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}
.t2{
    position: absolute;
    top: 300px;
    left: 20px;
}

.t3{
    position: absolute;
    top: 750px;
    left: 20px;
}
.t5{
    position: absolute;
    top: 1200px;
    left: 20px;
}
.t6{
    position: absolute;
    top: 1580px;
    left: 20px;
}
.head{
    padding: 0;
    margin: 0;
    justify-content: center;
}
.box{
    position: absolute;
    top: 550px;
    left: 300px;
}
.boxs{
    position: absolute;
    top: 730px;
    right: 200px;
}
.imgm{
    display: none;
}
.banner{
  background-color: #222222;  
}
}